html, body {
    padding: 0px;
    margin: 0px;
    background:
        linear-gradient(to bottom right, rgba(0,0,0,0.2), rgba(1,1,1,0.05)),
        radial-gradient(#000 18%, #111 20%, #333 24%, transparent 25%),
        linear-gradient(to bottom right, #111 30%, #000 34%, transparent 33%, transparent 67%, #000 66%, #222 68%, #111 70%),
        linear-gradient(to top right, #111 30%, #000 34%, transparent 33%, transparent 67%, #000 66%, #222 68%, #111 70%),
        linear-gradient(to bottom, #050505, #151515);
    background-color: #555;
    background-size: 20px 20px;
    color: grey;
}

header {
    box-shadow: 0px 2px 5px orange;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header, footer {
    background-color: #333;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

section {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 80px;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin: 0px;
    box-shadow: 0px -2px 5px orange;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    /*display: inline-block;*/
    /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 10pt;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}